body {
    background: lightgray;

}
.container {
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 10px;
    align-content: center;
    margin-bottom: 160px;
    width: 80%;
}

.box{
    width: 300px;
    height: 150px;
    border: 10px red;
    background: lightgray;
    text-align: start;
    border-bottom: black 5px;
    padding: 10px;
    margin-bottom: 25px;

}
