*{
    margin: 0;
    padding: 0;
}

/*Oversiden*/

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/UIA.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: aliceblue;
}
/*Style del for navigation bar*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: lightblue;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: white;
}

.topnav a.active {
    background-color: #C6DAD6;
    color: white;
}
/*Medlemmer kort*/

.Medlemmer{
    width: 100%;
    height: 1000px;
    min-width: 275px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-size: cover;
    background-color: rgba(21, 38, 105, 0.7);
    border: 1px;
    overflow-x: hidden; /*Problem med whitespace på denne section, overflow hjalp dette*/
}
.row{
    margin: auto;
    margin-top: 5%;
    width: 1800px;
    justify-content: space-between;
}
.Medlemmer-col{
    width: 400px;
    height: 250px;
    background: rgb(172, 219, 228);
    border-radius: 10px;
    margin: 15px;
    float: left;
    padding: 15px;
    display: flex;
    position: relative;
    transition: 0.5s;
}
.Medlemmer-col p{
    margin: 20px;
    text-align: center;
    padding-bottom: 10px;
}
output{
    margin-top: 14px;
}
 img{
    height: 200px;
    width: 190px;
    bottom: 3px;
}
h3{
    display: flex;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
}
.Medlemmer-col:hover{
    box-shadow: 0 0 20px 0px rgba(160, 160, 160, 0.7);
}

