body{
    margin: 0;
}
/*--------------------------   HOVEDDLINJE -------------------------------------------------------------*/
.Topplinje{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #154754;
    text-align: center;
    font-size: 19px;
}

/*--------------------------   Hjem -------------------------------------------------------------*/


.ContainerHjem{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 47px 60px 965px 20px;
    background-color: white;
    height: 100px;
    grid-gap: 0;
    right: 200px;
}

.Under{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #154754;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hov1{
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    background-image: url("uiaBygg.jpg");
}

.copy{
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    background-color: #554C51;
}

/*--------------------------   Innput -------------------------------------------------------------*/
.ContainerInnput{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 47px 60px auto 200px 20px;
    background-color: white;
    height: 100px;
    grid-gap: 0;
    right: 200px;
}

.Under{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #154754;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hovInnput{
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    background-color: #554C51;
}

.results{
    grid-column: 1/3;
    grid-row: 4/5;
    text-align: center;
    background-color: #554C51;
}

.copy{
    grid-column: 1/3;
    grid-row: 5/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    background-color: #554C51;
}
